#*.class

# Mobile Tools for Java (J2ME)
#.mtj.tmp/

# Package Files #
#*.war
#commons-pool2-2.4.2.jarcommons-pool2-2.4.2.jar*.ear
.DS_Store
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
#hs_err_pid*
